body{background:#fafafa;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color:#333;position:absolute;margin:0;padding:0;width:100%}

/*-- min-width: 1200px
====================================================== */
@media (min-width: 1200px){

/*-- index.html
====================================================== */
.container{width:100%;margin:0;padding:0; overflow: hidden;}
.logo{position:absolute;top:20px;left:50px;width:150px}


/* useage */
.useage-wrap{width:100%;height:245px;background-color:#efefef;text-align:center}
.useage-wrap .useage{width:100%;margin:0 auto}
.useage-wrap .useage div{float:left;width:31%;padding:50px 0;margin:0 10px}
.useage-wrap .useage img{max-width:100%}


/* uploadandpreview */
.uploadandpreview-wrap{width:100%;background-color:#d7d7d7; text-align: center; overflow: hidden;}
.uploadandpreview-wrap .upload{width:60%; height: 250px; margin: 50px auto; background-color: #e1e1e1; border:2px solid #fff;}
.uploadandpreview-wrap .upload .icon{margin: 20px auto 10px;}
.uploadandpreview-wrap .upload .info{margin: 10px auto; font-size: 28px; color: #b2b2b2;}

.uploadandpreview-wrap .review{width:55%; height: 620px; margin: 60px auto;}
.uploadandpreview-wrap .review .l{width:320px; height: 620px; float: left; background-image: url(../images/iphone.png); background-repeat: no-repeat; background-size: cover;}
.uploadandpreview-wrap .review .r{width:320px; height: 620px; float: right; text-align: center;}

.uploadandpreview-wrap .review .l .screen{width:229px;height:408px;margin:103px auto;overflow:hidden; padding-left: 2px;}
.uploadandpreview-wrap .review .l .screen img{max-width: 100%;}
.uploadandpreview-wrap .review .r .pt1{width:320px; height: 210px; margin-top: 50px;}
.uploadandpreview-wrap .review .r .pt1 .qr{width:200px; height: 200px; float: left; margin: 0px 30px 0px 30px;}
.uploadandpreview-wrap .review .r .pt1 .qr img{width:200px; height: 200px;}
.uploadandpreview-wrap .review .r .pt1 .download{width:60px; height: 60px; margin-top: 40px;}
.uploadandpreview-wrap .review .r .pt1 .print{width:60px; height: 60px; margin-top: 20px;}
.uploadandpreview-wrap .review .r .pt2{width:280px; height: auto; margin: 20px auto; padding-right: 40px;}
.uploadandpreview-wrap .review .r .pt3{width:280px; height: auto; margin: 40px auto; padding-right: 40px;}
.uploadandpreview-wrap .review .r p{font-size: 20px; color: #b2b2b2; margin:0px 0px 5px 0px;}
.uploadandpreview-wrap .review .r .sencond{margin:10px 0px 0px 0px;}

/* footer */
.footer-wrap{width:100%; height:120px; background-color:#4c4c4c; overflow: hidden; border: 1px solid green; text-align: center;}
.footer-wrap .f1{position: relative; top:30px; left: 25px;  width: 150px;}
.footer-wrap .f1 img{width:150px;}

.footer-wrap .f2{position: relative; bottom:25px; left: 200px;  width: 150px; height: 50px; border-left:1px solid #959595;}
.footer-wrap .f2 p{ color: #959595; margin:2px 10px; position: relative; top:15px;}

.footer-wrap .f3{position: relative; top:-120px; left: 350px; width:600px; padding: 25px; overflow: hidden;  text-align: center;}
.footer-wrap .f3 .coffee{color: #555555; font-size: 65px;}
.footer-wrap .f3 .copyright{color: #959595; text-align: center; font-size: 12px;}

.footer-wrap .f4{position: relative; top:-260px; left: 1000px; width:200px; padding: 25px; overflow: hidden;  text-align: center;}
.footer-wrap .f4 img{width:200px;}

}
